.middle 
{
    background-color: white;
    /* background-color: pink; */
    width:100%;
}
.right1
{
    width: 33em;
    /* display: flex; */
    /* flex-wrap: wrap; */
    padding-left: 10px;
    
}
.se1 
{
    width: 65%;
    height: 82rem;
    
    display: flex;
    background-color: white;
    flex-wrap: wrap;
}
.im1
{
    display:flex;
    width:100%;
}
.image1 
{
    padding-top: 1.8em;
    width: 36%;
    display: flex;
    /* display: contents; */
    justify-content: flex-end;
}
.swit 
{
    width: 46%;
    display: flex;
    justify-content: flex-end;
}
  

.swit img 
{
    height:14em;
    border-radius:1.5em;
    width:14em;
}
.key1 
{
    
    width: 16em;
    height: 6em;
}
.key1 h2
{
    margin: 0%;
    height: 2.5em;
    width: 9em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
/* .key1 h2 
{
    margin: 0%;
    height: 2.5em;
    width:9em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
   
} */
.key1 h4 
{
    width: 5.5em;
    margin: 0%;
    color: grey;
    height: 2;
    height: 2em;
    width: 5.5em;
    display: flex;
    align-items: center;
    /* align-content: space-between; */
    justify-content: center;
    /* margin: 0%;
    width: 5em;
    height: 1.5em;
    display: flex;
    align-items: flex-end;
    justify-content: center; */
}
.do1 
{
    display: flex;
    width: 31em;
    height: 6em;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    /* display: flex;
    width: 30em;
    height: 6em;
    align-items: flex-end;
    justify-content: flex-start;
    align-content: flex-end; */
}
.blo1
{
    width: 21em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* width: 19em;
    height:5em;
    display: flex;
    align-items: center;
    justify-content: flex-end; */
}

.buton1 
{
    background-color: #22b3c1;
    height: 4em;
    width: 11em;
    border-radius: 2em;
}
.buton1 h3 
{
    color:white;
}
.paragraph1
{
    height: 8em;
    width: 19em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.para1
{
    width: 18em;
    height:4em;
}
.info_sec1 
{
    display:flex;
    align-items: center;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
    height:5em;
    width:100%;
    background-color: white;
    /* background-color: blueviolet; */
}
.info_a
{
    width: 11em;
    display: flex;
    justify-content: flex-end;
}
.info1
{
    width: 10em;
    display: flex;
}
.M1
{
    width: 7em;
    display: flex;
    justify-content: flex-end;
}
 .info2
{
    width: 10em;
    display: flex;
}
.M2
{
    width: 7em;
    display: flex;
    justify-content: flex-end;
} 
 .info3
{
    width: 10em;
    display: flex;
}
.M3
{
    width: 9em;
    display: flex;
    justify-content: flex-end;
} 
.n1 
{
    height: 3em;
    
    width: 11em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* height: 3em;
    display: flex;
    align-items: flex-end; */
}
.dir1 
{
    height: 1,5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dir1 a 
{
    text-decoration: none;
    color:red;
}
.arrow1 
{
    font-size: 1em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.key2 
{
    height: 2em;

}
.key2 h4 
{
    color:yellow;
}
.key2 h2{
    height: 1.5em;
}
.key3 
{
    height:1em;
}
.do2 
{
    display: flex;
    padding-left: 1em;
    width: 30em;
    height: 7em;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
}
.blo2 
{
    width: 21em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.do3 
{
    display: flex;
    padding-left: 1em;
    width: 31em;
    height: 7em;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
}
.blo3 
{
    width: 23em;
    display: flex;
    justify-content: flex-end;
}
.buton2 
{
    background-color: #22b3c1;
    height: 4em;
    width: 11em;
    border-radius: 2em;
}
.buton2 h3 
{
    color:white;
}
.buton3 
{
    background-color: #22b3c1;
    height: 4em;
    width: 11em;
    border-radius: 2em;
}
.buton3 h3 
{
    color:white;
}
.round 
{
    display: flex;
    width:60%;
    justify-content: center;
}
.round1
{
    display: flex;
    justify-content: end;
    background-color: white;
    /* background-color: green; */
    height:2em;
}
.e1 
{
    width: 2em;
    height:1.5em;
    align-items: center;
    color:#22b3c1;
    display: flex;
    font-size: 2em;
    /* border: 1px solid black; */
    /* border-radius: 50%; */
    justify-content: center;
}
.r1 
{
    width: 1.5em;
    color:#22b3c1;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #22b3c1;
    border-radius: 50%;
    font-size: 2em;
}
.r2 
{
    width: 1.5em;
    height:1.5em;
    color:#22b3c1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #22b3c1;
    border-radius: 50%;
    font-size: 2em;
}
.r3
{
    width: 1.5em;
    height: 1.5em;
    color:#22b3c1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #22b3c1;
    border-radius: 50%;
    font-size: 2em;
}
.e2
{
    width: 2em;
    color:#22b3c1;
    display: flex;
    font-size: 2em;
    height:1.5em;
    align-items: center;
    /* border: 1px solid black; */
    /* border-radius: 50%; */
    justify-content: center;
}