*
{
    margin: 0%;
    padding:0%;
}
.header
{
    background-color: #22b3c1;
    height: 4.7em;
    width: 100%;
    position: fixed;
}
.nav
{
    
    display: flex;
    width: 100%;
    height: 100%;
}
.logo
{
    background-color: #22b3c1;
    width: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.logo img 
{
    height: 52%;
    width: 84%;
}
.un_o
{
    background-color: #22b3c1;
    width: 75%;
    /* margin-left: 1em; */
}
.unorder
{
    display: flex;
    background-color: #22b3c1;
    height: 100%;
    /* margin-left: 11em; */
    justify-content: space-evenly;
    align-items: center;
    
}
.sec1 
{

}
.m1 
{
    display: flex;
    justify-content: center;
}
.m2
{
    display: flex;
    justify-content: center;
}
.m3
{
    display: flex;
    justify-content: center;
}
.m4 
{
    display: flex;
    justify-content: center;
}
.ico1 
{
    width: 2em;
    background-color: #22b3c1;
    Display:none;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}
.ic1 
{
    
    display: flex;
    /* display: none; */
    align-items: center;
}
.ic1 i 
{
    color: white;
}


.m1 a 
{
    text-decoration: none;
    color:white;
}


.m2 a 
{
    text-decoration: none;
    color:white;
}

.m3 a 
{
    text-decoration: none;
    color:white;
}

.m4 a 
{
    text-decoration: none;
    color:white;
}

.ban1
{
    height:100vh;
    width:100%;
    background-color: #22b3c1;
    background-image: url(banner.jpg);
    background-size: cover;
    background-position: center;
}
.ln1 
{
       height:14em; /* margin-top: 1em; padding-top:5em; */
}
.line1
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size:1.5em;
    color:white;
    height: 9.7em;
    /* padding-left: 13em; */
    text-align: center;
    
}

.line2
{
    color:white;
    font-size: 3em;
    display: flex;
    align-items: end;
    justify-content: center;
    /* padding-left:5.8em; */
    text-align: center;
    margin-top:0px;
    height: 1.5em;
}
.bo1 
{
    width:100%;
    display:flex;
    height:6em;
    justify-content: center;
    align-items: center;
}
.button1
{
    border-radius: 2em;
    
    height:4em;
    width:13%;
    border:3px solid #22b3c1;
}
.btn1 
{
    color:#22b3c1;
}
/* ----------------------------------css starthahah --------------------------- */

.in2 
{
    width: 100%;
    height: 11em;
    display: flex;
    /* background-color: yellow; */
    justify-content: center;
    align-items: flex-end;
}
.wh 
{
    height: 6em;
    border-radius: 4em;
    display: flex;
    width:85%;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
.de1 
{
    display: flex;
    width: 7em;
    background-color: white;
}
.icon1
{
    display: flex;
    height: 5em;
    width: 8em;
    align-items: center;
    justify-content: center;
}
.icon1 i
{
    display: flex;
    align-items: center;
    height: 1.5em;
    font-size: 2.5em;
    color:#22b3c1;
}
.di1 
{
   
    height: 4.5em;
    width: 3.7em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.de2 
{
    display: flex;
    width: 7em;
    background-color: white;
}
.icon2
{
    display: flex;
    height: 5em;
    width: 8em;
    align-items: center;
    justify-content: center;
}
.icon2 i
{
    display: flex;
    color:#22b3c1;
    align-items: center;
    height: 1.5em;
    font-size: 2.5em;
}
.di2 
{
    height: 4.5em;
    width: 4.3em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.de3 
{
    display: flex;
    width: 7em;
    background-color: white;
}
.icon3
{
    display: flex;
    height: 5em;
    width: 8em;
    align-items: center;
    justify-content: center;
}
/* .icon3
{
    display: flex;
    height: 5em;
    justify-content: center;
    align-items: center;
    
} */
.icon3 i
{
    display: flex;
    color:#22b3c1;
    align-items: center;
    height: 1.5em;
    font-size: 2.5em;
}
#v1 
{
    color:#22b3c1;
    height: 1.6em;
    font-size: 0.7em;
}
#v2 
{
    color:#22b3c1;
    font-size: 0.7em;
    height: 1.5em;
    width: 5em;
}
#v3 
{
    color:#22b3c1;
}
.di3 
{
    height: 4.7em;
    width: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.click1
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cl1 
{
    width: 100%;
    background-color: #22b3c1;
    color:white;
    /* padding: 0.3em; */
    padding: 0.7em;
    border-radius: 1em;
}
.boo1
{
    width: 31%;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}
.click1 
{
    height: 3em;
    width: 7em;
    display: flex;
    justify-content: flex-end;
}
.ver1 
{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.ver2 
{
    height: 80%;
    /* padding-left: 3em; */
    width: 46%;
    
    display: flex;
    width: 50%;
    justify-content: space-around;
}



/* ---------------------------------------------editing end------------------------------- */
.in3 
{
    height: 3em;
    display: flex;
    align-items: flex-end;
    /* background-color: yellow; */
}
.number
{
    /* background-color: green; */
    width:100%;
    display: flex;
    justify-content: space-evenly;
}
.one 
{
    /* background-color: pink; */
    width:15%;
    display: flex;
    justify-content: center;
    border-top:1px solid white;
    color:white;
}
.two 
{
    /* background-color: blue; */
    width:15%;
    display: flex;
    justify-content: center;
    border-top:1px solid white;
    color:white;
}
.three
{
    /* background-color: tomato; */
    width:15%;
    display: flex;
    justify-content: center;
    border-top:1px solid white;
    color:white;
}
.four
{
    /* background-color: blueviolet; */
    width:15%;
    color:white;
    display: flex;
    justify-content: center;
    border-top:1px solid white;
}
/* -----------------------------After one two three-------------------------- */
.para 
{
    padding-left:72px;
}
.para1
{
    height: 9em;
    /* align-items: center; */
    /* padding: 25px; */
    text-align: center;
}
.para1 h1 
{
    width: 50%;
    height: 2em;
    display: flex;
    align-items: flex-end;
    
}
.para1 h5 
{
    width: 44%;
    height: 2.5em;
    display: flex;
    align-items: flex-end;
    
}


/* ------------------------------------------End of 2  lines--------------------------------------- */



.fl
{
    display: flex;
    width: 16em;
    justify-content: space-between;
}
.o1 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.5em;
    font-size:1em;
}
.hl1
{
    height:10em;
    display: flex;
    width:100%;
    background-color: #22b3c1;
    background-image: url(co2.jpg);
} 
.last1
{
    /* background-color: yellow; */
    height:10em;
    width:71%;
    display: flex;
    border:none;
    justify-content: center;
}
.lm1
{
    padding-top: 3em;
}
.lm1 h2
{
    font-size: 2.5em;
    height: 1.5em;
}
.lm1 h4
{
    font-size: 1.5em;
}
.last_button
{
    height: 10em;
    width: 24.5em;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lb1
{
    height: 3em;
    width: 12em;
    border: 1px solid white;
    color:white;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bo_1 
{
    width: 12em;
    
    border-radius: 2em;
    border:1px solid white;
}
.fo1
{
    height:8em;
    background-color: #22b3c1;
    /* background-color: greenyellow; */
    display: flex;
    justify-content: center;
    align-items:center;
}
#cp1
{
    color:white;
}
#cp2
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    color:white;
}
#ar2
{
    color:grey;
}
#ar3
{
    color:grey;
}
.middle
{
    padding-left:72px;
    display: flex;
}
.ce1 
{
    width:66%;
}
.data1 
{
    display:flex;
    width: 100%;
    
    

}
.world
{
    width:95%;
}

.world1
{
    height:3em;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;

}
.faci1 
{
   padding-left: 24px;
    width:74%;
}
.view1 
{
    display: flex;
    width: 20%;
    
}
.view1 img 
{
    height: 11em;
    width: 100%;
    border-radius: 10%;
}
.lines1 
{
    width:95%;
    height: 6em;
    display: flex;
    align-items: center;
}
.col1 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    

}
.name1
{

}
.blo1
{
    width:27%;
}
.touch1
{
    padding: 3px;
    width: 100%;
    height: 3em;
    background-color: #22b3c1;
    color: white;
    border-radius: 2em;
}
.w1 
{
    display: flex;
    width: 31%;
    justify-content: space-between;
}
.w2 
{
    display: flex;
    width: 31%;
    justify-content: space-between;
}
.w3
{
    display: flex;
    width: 31%;
    justify-content: space-between;
}
.dire1 
{
    height: 6em;
    display: flex;
    align-items: center;
    color: #22b3c1;
}
.eu 
{
    color:gray;
}
.tru
{
    display: flex;
    width: 40%;
    color:#22b3c1;
    justify-content: space-evenly;
    padding-left: 147px;

}
.left 
{
    font-size: 2em;
}
.r1 
{
    font-size: 2em;
    border:1px solid #22b3c1;
    width: 9%;
    display: flex;
    justify-content: center;
    border-radius: 70%;
}
.o2 
{
    width:9%;
}
.right
{
    font-size: 2em;
}
.ce2 
{
    width:34%;
    height: 55em;
}
.map
{
    height:35em;
}
.map iframe 
{
    height: 29em;
    width:80%;
    border-radius:9%;
    
}
.list
{
    background-image: url(co2.jpg);
    height:12em;
    margin-top: 10%;
    display: flex;
}
.list1 
{
    height:2em;
    width:60%;
    
    display: flex;
    flex-wrap: wrap;
    color: #011618;
    
    
    /* color:#22b3c1 */
}
.t1 
{
    width:25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.T1
{
    height: 3em;
    width: 57%;
    border-radius: 22px;
    background-color: white;
    color: #011011;
    border-color: white;
}
.foot
{
    height:4em;
    padding-top:19px;
    background-color: #22b3c1;
    text-align: center;
    
}
.fot 
{
    height:5em;
}



/* ---------------------------------Media Query Start--------------------------------------------------- */
@media (max-width:2566px) and (min-width:2500px)
{
    .logo 
    {
        width: 43%;
    }
    .logo img 
    {
        width: 36%;
    }
    .un_o 
    {
        width: 48%;
    }
    .unorder
    {
        width: 44%;
        padding-left: 25%;
    }
    .in1 
    {
     padding-top:14em;   
     height: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    .line1 
    {
        
        width: 81%;
        display: flex;
        justify-content: center;
    }
    .line2 
    {
    display: flex;
    width: 81%;
    /* font-size: 4.5em; */
    justify-content: center;
    }
    .bo1 
    {
        width:81%;
    }
    .button1 
    {
        width: 6%;
    }
    .in2 
    {
        padding-top: 10em;
        width:94%;
    }
    .de2
    {
        width:8em;
        justify-content: flex-end;
    } 
    .de3
    {
        width:8em;
        align-items: center;
        justify-content: flex-end;
    }
    .di1 
    {
        width: 3.8em;
    }
    .di2{
        width: 4.7em;
    }
    .di3
    {
        width: 4.4em;
        align-items: center;
    } 
    .di3 h6
    {
        width:5em;
    }
    .para
    {
        padding-left:28%;
    }
    .para1 
    {
        height:20em;
    }
    .para1 h1 
    {
        width: 100%;
        font-size: 4em;
    }
    .para1 h5 
    {
        width: 91%;
        font-size: 1.5em;
    }
    .middle 
    {
        padding-left: 28%;
    }
    .ce1 
    {
        width:45%;
    }
    .map 
    {
        height:38em;
    }
    .map iframe
    {
        width: 64%;
        height: 48em;
    }
    .list1
    {
        height:12em;
        padding:0px;
        font-size: 1.5em;
        display:block;
    }
    .list1 h1 
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2em;
    }
    .list1 h3 
    {
        width: 84%;
        height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .t1 
    {
        justify-content: flex-start;
    }
    .T1
    {
        width:33%;
    } 
    .fot 
    {
        font-size:1.1em;
    }

}
@media (max-width:1445px) and (min-width:1400px)
{
    .logo 
    {
        width: 21%;
    }
    .logo img 
    {
        height: 45%;
        width: 59%;
    }
    .un_o 
    {
        width: 70%;
        display: flex;
        justify-content: end;
    }
    .unorder
    {
        
        width: 64%;
    }
    .in1 
    {
        padding-top:14em;
    }
    .line2 
    {
        align-items: center;
    }
    .boo1 
    {
        width: 27%;
        height: 6em;
        display: flex;
        justify-content: center;
    }
    .button1 
    {
        width:7%;
    }
    .in2 
    {
        
        height:37%;
        width:100%;
    }
    .icon1 
    {
        display: flex;
    align-items: center;
    padding-bottom: 0.3em;
    }
    .di1
    {
        height: 3em;
        width: 3.7em;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

    } 
    .icon2 
    {
        display: flex;
    align-items: center;
    }
    .di2
    {
        height: 4.5em;
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    } 
    
    .di3
    {
        height: 3.4em;
        font-size: 1em;
        align-items: end;
        /* height: 5.7em; */
         width: 85%;
        display: flex;
        /* align-items: center; */
        justify-content: flex-end;
    } 
    .ver1
    {
        align-items: center;
    } 
    /* .di1 
    {
        height:3em;
    } */
    /* .di2 
    {
        height:3em;
    } */
    .ver2 
    {
        align-items: center;
        padding-left:0em;
    }
    .icon3 
    {
        height: 6em;
        display: flex;
        align-items: center;
    }
    .icon3 i 
    {
        align-items: start;
        height:1.1em;
    }
    /* .di3 
    {
        height:6em;
    } */
    .para 
    {
        height:21em;
        padding-left: 139px;
    }
    .para1 h1 
    {
        width: 100%;
        font-size: 5em;
    }
    .para1 h5 {
        width: 83%;
        font-size: 2em;
    }
    .middle
    {
        padding-left:139px;
    }
    .map iframe
    {
        width:70%;
    }
    .col1 
    {
        width:94%;
    }
    .list1 
    {
        
        justify-content: start;
        height:10em;
        display: block;
        width:65%;
    }
    .list1 h1
    {
        height: 4em;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .list1 h3 
    {
        width: 84%;
        display: flex;
        justify-content: center;
    }
    

}
@media (max-width:1030px) and (min-width:1010px)
{
    .logo{
        width: 45%;
    }
    .logo img 
    {
        width: 79%;
    }
    .line1 
    {
        height: 19.7em;
    }
    .in1 
    {
        height: 53em;
    }
    .icon3 
    {
        height:4.9em;
    }
    .list1{
        width:70%;
    }
    .list1 h1 
    {
        width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .list1 h3 
    {
        width: 79%;
        display: flex;
        justify-content: center;
    }
}
@media (max-width:770px) and (min-width:700px)
{
    .logo 
    {
        width: 18%;
    }
    .logo img 
    {
    height: 69%;
    width: 66%;
    }
    .un_o
    {
        display:none
    }
    .ico1
    {
    display: flex;
    width: 75%;
    justify-content: flex-end;
    }
    .ic1 i
    {
      font-size:2em;  
    }
    .in1 
    {
        padding-top: 14em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .line1 
    {
        width: 100%;
    }
    .line2 
    {
        width:100%;
    }
    .line3 
    {
        width:100%;
    }
    .in2 
    {
        width:100%;
        height:37%;
        display:flex-end;
        
    }
    .icon1 
    {
        height:5em;
    }
    .ver2 
    {
        padding-left: 0em;
    }
    .wh
    {
        width:92%;
    }
    .icon3
    {
        display: flex;
    align-items: center;
    height:4em;
    }

    .icon3 i 
    {
        align-items: end;
    height: 1.2em;
    }
    .di1 
    {
        justify-content: center;
        height: 4.5em;
        align-items: center;
    }
    #v2 
    {
        height:0.5em;
    }
    .di2
    {
        height:3.7em;
    }
    
    .di3 
    {
        height: 2.9em;
        font-size: 1em;
        align-items: end;
    }
    .boo1 
    {
        align-items: center;
    }
    .para1 h1 
    {
        width:100%;
    }
    .tru
    {
        width:53%;
    }
    .para1 h5 
    {
        width:91%;
    }
    .middle
    {
        display: block;
    }
    .ce1 
    {
        width:95%;
    }
    .ce2 
    {
        width:95%;
        padding-top:14%;
    }
    .map 
    {
        width:95%;
    }
    .map iframe
    {
        width:100%;
    }
    .list1
    {
        font-size: 0.8em;
        width: 74%;
      
    }
    .list1 h1 
    {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 3.7em;

    }
    .list1 h3 
    {
        width:73%;
        align-items: flex-end;
    height: 3em;
    display: flex;
    justify-content: center;
    }
    .T1
    {
        height: 4em;
    width: 62%;
    }
 

}
@media (max-width:430px) and (min-width:400px)
{
    .header
    {
        height:10.7;
    }
    .un_o 
    {
        display:none;
    }
    .logo 
    {
        width: 61%;
    }
    .ico1 
    {
        width: 30%;
    display: flex;
    justify-content: flex-end;
    }
    .ic1 i 
    {
        font-size: 3em;
    }
    .button1 
    {
        width:24%;
    }
    .in1 
    {
        padding-top:14em;
    }
    .in2 
    {
        height:38%;
        align-items: end;
    }
    .in3 
    {
        height: 4em;
        display: flex;
        align-items: flex-end;
    }
    .wh{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 10em;
    }
    .ver1 
    {
        height: 80%;
        padding-left:3em;
        width: 46%;
        display: block;
    }
    .de1 
    {
        height:49%;
        display: flex;
    align-items: flex-end;
    }
    .di1 
    {
        height:4.1em;
    }
    .di2 
    {
        height:3.5em;
    }
    .ver2 
    {
        display:block;
    }
    .icon1 i {
        align-items: flex-end;
    }
    .icon2 
    {
        height:4em;
    }
    .icon3 
    {
        height:4em;
    }
    .icon3 i 
    {
        align-items: flex-end;
        height: 1.2em;
    }
    .de3
    {
        height:4em;
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    .di3
    {
        height:4em;
    }
    .boo1 
    {
        align-items: flex-start;
        width:76%;
        height: 44%;
    }
    .click1 
    {
        justify-content: start;
        align-items:end;
    }
    .cl1
    {
        width:88%;
    }
    .para 
    {
        padding-left: 26px;
    }
    .para1 h1 
    {
        width: 100%;
    font-size: 1.5em;
    } 
    .para1 h5 
    {
        width:100%;
    }
    .middle{
        padding-left: 26px;
        display: block;
        
    }
    .data1
{
    display: block;
}
    .ce1 
    {
        width:100%;
    }
    .view1 
    {
        width: 93%;
    }
    .faci1 
    {
        padding-left: 0px;
        width:100%;
    }
    .col1
    {
        width:94%;
        height:5em;
    }
    .lines1 
    {
        height: 8em;
    }
    .ce2
    {
        width:100%;
        padding-top:30px;
    } 
    .tru
    {
        width:92%;
        padding-left:0px;
    }
    .r1 
    {
        width:12%;
    }
    .map iframe
    {
        width:94%;
    }
    .list 
    {
        display:block;
    }
    .list1 
    {
        padding:0px;
        font-size:0.6em;
        width:100%;
        height:11em;
    }
    .list1 h1 
    {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 2.5em;
    }
    .list1 h5 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 1.5em;
    }
    .list1 h3 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 79%;
    }
    .t1 
    {
        width:100%;
        height:5em;
    }
    .T1{
        width:34%;
    }
    .fot h3 
    {
        font-size: 0.9em;
    }
    


}
@media (max-width:380px) and (min-width:300px)
{
    .header
    {
        height:10.7;
    }
    .nav 
    {
        width:99%;
    }
    .un_o 
    {
        display:none;
    }
    .ico1
    {
        display: flex;
        width:30%;
        display:flex;
        justify-content: flex-end;
    }
    .ic1 
    {
        width:27%;
    }
    .ic1 i 
    {
        font-size:2em;
    }
    .logo 
    {
        width: 61%;
    }
    .in1 
    {
        padding-top: 14em;
    }
    .line1 
    {
        font-size: 0.8em;
        height: 33%;
    }
    .line2 
    {
        font-size: 2em;
    }
    .button1 
    {
        width: 30%;
    }
    .in2 
    {
        height: 32em;
        align-items: flex-end;
    }
    .wh 
    {
        height:14em;
    }
    .ver1 
    {
        display:block;
        height:12em;
        width:35%;
        padding-top:3em;
    }
    .icon1 
    {
        display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    }
    .de1 
    {
        height:5em;
        
    }
    .di1
    {
        height: 4.1em;
    /* padding-left: 1em; */
    } 
    .ver2 
    {
        display:block;
        padding-left:0em;
        width:35%;
        padding-top:3em;
    }
    .de2 
    {
        
    }
    .boo1 
    {
        width: 100%;
        height: 39%;
        align-items: end;
    }
    .boo3 
    {
        display: flex;
    align-items: flex-end;
    }

    .de3 
    {
        width:100%;
    }
    .di3
    {
        width:5em;
        height: 3.5em;
    }
    .icon3 
    {
        height: 4em;
        width: 53%;
        display: flex;
        justify-content: flex-end;
    }
    .click1
    {
        height: 3em;
        width: 7em;
        display: flex;
        justify-content: center;
    }
    .cl1 
    {
        width:80%;
    }
    .in3 
    {
        padding-top: 4em;
    }
    .para 
    {
        padding-left:18px;
    }
    .para1 h1 
    {
        width: 100%;
        font-size: 1.2em;
    }
    .para1 h5 
    {
        width: 100%;
      
        font-size: 0.65em;
    }
    .faci1 
    {
        width:92%;
    }
    .middle
    {
        display:block;
        padding-left:18px;
    }
    .data1 
    {
        display: block;
    }
    .ce1 
    {
        width:100%;
    }
    .data1 
    {
        width:100%;
    }
    .view1
    {
        width:96%;
    }
    .col1 
    {
        height:6em;
        width:84%;
    }
    .blo1 
    {
        width:35%;
    }
    .lines1 
    {
        width:92%;
        height:7em;
    }
    .world1
    {
        width:91%;
    }
    .tru
    {
        padding-left:8px;
        width:81%;
    }
    .ce2 
    {
        width:100%;
    }
    .map 
    {
        width:100%;
        padding-top: 25px;
        
    }
    .map iframe
    {
        width:95%;
    }
    .list 
    {
        display: block;
    }
    .list1
    {
        font-size:0.5em;
        height:11em;
        width:100%;
        padding:0px;
    }
    .list1 h1 
    {
        height: 4em;
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
    }
    .list1 h3 
    {
        width:92%;
        display:flex;
        justify-content: center;
        align-items: center;
        /* display: flex; */
        /* justify-content: center; */
        align-items: flex-start;
        /* width: 100%; */
        font-size: 1.5em;
    }
    .t1 
    {
        height: 8em;
        width: 100%;
    }
    .T1 
    {
        width:36%;
    }
    .fot h3
    {
        width: 100%;
        font-size: 0.7em;
        height: 3em;
        display: flex;
        justify-content: center;
    }

}





