*
{
    margin: 0%;
    padding:0%;
}
.header
{
    background-color:#22b3c1;
    height:1.7em;
}
.nav
{
    display: flex;
}
.logo
{
    background-color:#22b3c1; /* Yellow */
    width: 32%;
    display: flex;
    justify-content: end;
    align-items: center;
    /* margin-left: 10em; */
}
.logo img 
{
    height:61%;
}
.un_o
{
    background-color:#22b3c1;  /*pink */
    width: 68%;
    /* margin-left: 1em; */
}
.unorder
{
    display: flex;
    background-color: #22b3c1;
    height: 4em;
    /* margin-left: 11em; */
    justify-content: space-evenly;
    align-items: center;
    
}
.unorder li 
{
    display:flex;
    justify-content: space-between;
}
.m1
{
    list-style: none;
    width:2em;
}
.m1 a 
{
    text-decoration: none;
    color:white;
}
.m2
{
    list-style: none;
}

.m2 a 
{
    text-decoration: none;
    color:white;
}
.m3
{
    list-style: none;
}
.m3 a 
{
    text-decoration: none;
    color:white;
}
.m4
{
    list-style: none;
}
.m4 a 
{
    text-decoration: none;
    color:white;
}

.ban1
{
    height:100vh;
    width:100%;
    background-color: #22b3c1;
    background-image: url(banner.jpg);
    background-size: cover;
    background-position: center;
}
.ln1 
{
       height:19em; /* margin-top: 1em; padding-top:5em; */
}
.line1
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size:1.5em;
    color:white;
    height: 5.7em;
    /* padding-left: 13em; */
    text-align: center;
    
}

.line2
{
    color:white;
    font-size: 5em;
    /* padding-left:5.8em; */
    text-align: center;
    margin-top:0px;
    height: 1.5em;
}
.bo1 
{
    width:100%;
    display:flex;
    height:6em;
    justify-content: center;
}
.button1
{
    border-radius: 2em;
    
    height:4em;
    width:10%;
    border:3px solid #22b3c1;
}
.btn1 
{
    color:#22b3c1;
}
.IN2 
{
    display: flex;
    justify-content: center;
}
.in2
{
    background-color: white;
    width: 81%;
    /* margin-top: 1em; */
    display: flex;
    height: 22%;
    border-radius: 6em;
    justify-content: center;
}
.block1
{
       
    height: 8em;
    width: 7em;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: end;
}
.b
{
    
    height: 8em;
    width: 6em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.sp1
{
    height: 4em;
    width: 5em;
    /* border-color: 2px solid #22b3c1; */
    border: 2px solid #22b3c1;
    border-radius: 50%;
    display: flex;

    align-items: center;
}
.icon1
{
    display: flex;
    height: 5em;
    width: 8em;
    align-items: center;
    justify-content: center;
}
.icon1 i 
{
    color:#22b3c1;
}
.b_1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.data1
{
    align-items: center;
}
#v1
{
    height:1.4em;
}
.data1 h4
{
    color:#22b3c1;
}
.middle
{
    display: flex;

}



.block2
{
       
    height: 8em;
    width: 7em;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: end;
}
.c
{
    
    height: 8em;
    width: 6em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.sp2
{
    height: 4em;
    width: 5em;
    /* border-color: 2px solid #22b3c1; */
    border: 2px solid #22b3c1;
    border-radius: 50%;
    display: flex;

    align-items: center;
}
.icon2
{
    display: flex;
    height: 5em;
    width: 8em;
    align-items: center;
    justify-content: center;
}
.icon2 i 
{
    color:#22b3c1;
}
.b2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.data2
{
    align-items: center;
    color:#22b3c1;
}
#v2
{
    height:1.4em;
    
}
.data2 h4
{
    color:#22b3c1;
}
.block3
{
       
    height: 8em;
    width: 7em;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: end;
}
.d
{
    
    height: 8em;
    width: 6em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.sp3
{
    height: 4em;
    width: 5em;
    /* border-color: 2px solid #22b3c1; */
    border: 2px solid #22b3c1;
    border-radius: 50%;
    display: flex;

    align-items: center;
}
.icon3
{
    display: flex;
    height: 5em;
    width: 8em;
    align-items: center;
    justify-content: center;
}
.icon3 i 
{
    color:#22b3c1;
}
.b3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.data3
{
    align-items: center;
    color:#22b3c1;
}
#v3
{
    height:1.3em;
    
}
.data3 h4
{
    color:#22b3c1;
}





/* .block3
{
    position: relative;
    right: 2em;
    height: 9em;
    display: flex;
}
.b_2
{
    
    height: 4em;
    margin-top: 2em;
    margin-right: 1em;
    margin-left: 0em;
    
}

.b_12
{
    background-color: white;
    height: 1em;
    border: 4px solid #22b3c1;
    width: 1em;
    border-radius: 50%;
    margin-top: 0em;
    margin-left: 2em;
    
    padding-left: 1.5em;
    padding-right: 1.1em;
    padding-top: 1.1em;
    padding-bottom: 1.5em;
}

.icon3
{
    position: relative;
    right: 0.5em;
    bottom:0.1em;
    background-color: white;

}
.icon3 i 
{
    color:#22b3c1;
    font-size:1.5em;
    padding-left: 0.8px;
}
.c_12
{
    position: relative;
    right: 0em;
}
.p_3
{
    padding-left:4em;
}
.p_3 h4
{
    color:gray;
}
.p_4
{
    position: relative;
    bottom: 1em;
    left:0.5em;
}
.p_4 h3
{
    position: relative;
    right: 0.5em;
    color:#22b3c1;
} */
.block4
{
    width: 19em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button2 
{
    background-color: #22b3c1;
    height: 4em;
    width: 13em;
    border-radius: 2em;
}
.button2 h3 
{
    color:white
}
.lo1 i 
{
    background-color: white;
    color:white;
}

.in20{
    width:100%;
    display: flex;
    justify-content: center;
}
.hi 
{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83%;
}
.bl1 
{
    height: 10em;
    width: 22em;
    display: grid;
    justify-items: end;
    align-content: center;
}
.hol1 
{
    width: 10em;
    height: 0.1em;
    background-color: white;
}
.on 
{
    width: 10em;
    /* align-items: center; */
    display: flex;
    justify-content: center;
}
#one 
{
    color:white;
}


.bl2 
{
    height: 10em;
    width: 13em;
    display: grid;
    justify-items: end;
    align-content: center;
}
.hol2
{
    width: 10em;
    height: 0.1em;
    background-color: white;
}
.tw
{
    width: 10em;
    display: flex;
    justify-content: center;
}
#two 
{
    color:white;
}


.bl3 
{
    height: 10em;
    width: 13em;
    display: grid;
    justify-items: end;
    align-content: center;
}
.hol3
{
    width: 10em;
    height: 0.1em;
    background-color: white;
}
.thr
{
    width: 10em;
    display: flex;
    justify-content: center;
}
#three 
{
    color:white;
}
.bl4
{
    height: 10em;
    width: 13em;
    display: grid;
    justify-items: end;
    align-content: center;
}
.hol4
{
    width: 10em;
    height: 0.1em;
    background-color: white;
}
.fou
{
    width: 10em;
    display: flex;
    justify-content: center;
}
#four 
{
    color:white;
}
.t1 
{
    display: flex;
    justify-items: center;
    height: 12em;
    width: 36em;
    justify-content: center;
    align-items: center;
}
.text1
{
    
    width: 24em;
}
.txt1 
{
    width: 24%;
    display: flex;
    height: 10em;
    color: blue;
    align-items: flex-end;
}
.tx1 
{
    font-size: 28px;
    width: 18em;
    height: 3.2em;
}
#txt1 
{
    width: 14em;
    color:black
}
.text2 
{
    
    width: 27em;
}
.txt2 
{
    height: 3em;
    display: flex;
    align-items: flex-end;
    width: 26em;
}
#txt2 
{
    color:rgb(175, 175, 175);
}

.middle 
{
    background-color: white;
    /* background-color: pink; */
    width:100%;
}
.right1
{
    width: 33em;
    /* display: flex; */
    /* flex-wrap: wrap; */
    padding-left: 10px;
    
}
.se1 
{
    width: 65%;
    height: 82rem;
    
    display: flex;
    background-color: white;
    flex-wrap: wrap;
}
.im1
{
    display:flex;
    width:100%;
}
.image1 
{
    padding-top: 1.8em;
    width: 36%;
    display: flex;
    /* display: contents; */
    justify-content: flex-end;
}
.swit 
{
    width: 46%;
    display: flex;
    justify-content: flex-end;
}
  

.swit img 
{
    height:14em;
    border-radius:1.5em;
    width:14em;
}
.key1 
{
    
    width: 16em;
    height: 6em;
}
.key1 h2
{
    margin: 0%;
    height: 2.5em;
    width: 9em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
/* .key1 h2 
{
    margin: 0%;
    height: 2.5em;
    width:9em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
   
} */
.key1 h4 
{
    width: 5.5em;
    margin: 0%;
    color: grey;
    height: 2;
    height: 2em;
    width: 5.5em;
    display: flex;
    align-items: center;
    /* align-content: space-between; */
    justify-content: center;
    /* margin: 0%;
    width: 5em;
    height: 1.5em;
    display: flex;
    align-items: flex-end;
    justify-content: center; */
}
.do1 
{
    display: flex;
    width: 31em;
    height: 6em;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    /* display: flex;
    width: 30em;
    height: 6em;
    align-items: flex-end;
    justify-content: flex-start;
    align-content: flex-end; */
}
.blo1
{
    width: 21em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* width: 19em;
    height:5em;
    display: flex;
    align-items: center;
    justify-content: flex-end; */
}

.buton1 
{
    background-color: #22b3c1;
    height: 4em;
    width: 11em;
    border-radius: 2em;
}
.buton1 h3 
{
    color:white;
}
.paragraph1
{
    height: 8em;
    width: 19em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.para1
{
    width: 18em;
    height:4em;
}
.info_sec1 
{
    display:flex;
    align-items: center;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
    height:5em;
    width:100%;
    background-color: white;
    /* background-color: blueviolet; */
}
.info_a
{
    width: 11em;
    display: flex;
    justify-content: flex-end;
}
.info1
{
    width: 10em;
    display: flex;
}
.m1
{
    width: 7em;
    display: flex;
    justify-content: flex-end;
}
 .info2
{
    width: 10em;
    display: flex;
}
.m2
{
    width: 7em;
    display: flex;
    justify-content: flex-end;
} 
 .info3
{
    width: 10em;
    display: flex;
}
.m3
{
    width: 7em;
    display: flex;
    justify-content: flex-end;
} 
.n1 
{
    height: 3em;
    
    width: 11em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* height: 3em;
    display: flex;
    align-items: flex-end; */
}
.dir1 
{
    height: 1,5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dir1 a 
{
    text-decoration: none;
    color:red;
}
.arrow1 
{
    font-size: 1em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.key2 
{
    height: 2em;

}
.key2 h4 
{
    color:yellow;
}
.key2 h2{
    height: 1.5em;
}
.key3 
{
    height:1em;
}
.do2 
{
    display: flex;
    padding-left: 1em;
    width: 30em;
    height: 7em;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
}
.blo2 
{
    width: 21em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.do3 
{
    display: flex;
    padding-left: 1em;
    width: 31em;
    height: 7em;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
}
.blo3 
{
    width: 23em;
    display: flex;
    justify-content: flex-end;
}
.buton2 
{
    background-color: #22b3c1;
    height: 4em;
    width: 11em;
    border-radius: 2em;
}
.buton2 h3 
{
    color:white;
}
.buton3 
{
    background-color: #22b3c1;
    height: 4em;
    width: 11em;
    border-radius: 2em;
}
.buton3 h3 
{
    color:white;
}
.map1
{
    width:30em;
}
.map2 iframe 
{
    height: 47em;
    width: 20.5em;
    border-radius: 2em;
}
.round 
{
    display: flex;
    width:60%;
    justify-content: center;
}
.round1
{
    background-color: white;
    /* background-color: green; */
    height:10em;
}
.e1 
{
    width: 2em;
    color:#22b3c1;
    display: flex;
    font-size: 2em;
    /* border: 1px solid black; */
    /* border-radius: 50%; */
    justify-content: center;
}
.r1 
{
    width: 1.5em;
    color:#22b3c1;
    display: flex;
    justify-content: center;
    border: 1px solid #22b3c1;
    border-radius: 50%;
    font-size: 2em;
}
.r2 
{
    width: 1.5em;
    color:#22b3c1;
    display: flex;
    justify-content: center;
    border: 1px solid #22b3c1;
    border-radius: 50%;
    font-size: 2em;
}
.r3
{
    width: 1.5em;
    color:#22b3c1;
    display: flex;
    justify-content: center;
    border: 1px solid #22b3c1;
    border-radius: 50%;
    font-size: 2em;
}
.e2
{
    width: 2em;
    color:#22b3c1;
    display: flex;
    font-size: 2em;
    /* border: 1px solid black; */
    /* border-radius: 50%; */
    justify-content: center;
}
.fl
{
    display: flex;
    width: 16em;
    justify-content: space-between;
}
.o1 
{
    width: 0.5em;
}
.hl1
{
    height:10em;
    display: flex;
    width:100%;
    background-color: #22b3c1;
    background-image: url(co2.jpg);
} 
.last1
{
    /* background-color: yellow; */
    height:10em;
    width:71%;
    display: flex;
    border:none;
    justify-content: center;
}
.lm1
{
    padding-top: 3em;
}
.lm1 h2
{
    font-size: 2.5em;
    height: 1.5em;
}
.lm1 h4
{
    font-size: 1.5em;
}
.last_button
{
    height: 10em;
    width: 24.5em;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lb1
{
    height: 3em;
    width: 12em;
    border: 1px solid white;
    color:white;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bo_1 
{
    width: 12em;
    
    border-radius: 2em;
    border:1px solid white;
}
.fo1
{
    height:8em;
    background-color: #22b3c1;
    /* background-color: greenyellow; */
    display: flex;
    justify-content: center;
    align-items:center;
}
#cp1
{
    color:white;
}
#cp2
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    color:white;
}
#ar2
{
    color:grey;
}
#ar3
{
    color:grey;
}
/* ---section2 ------------------------------------------*/




